:root {
    --headerbg: #001D6E;
    --cardbg: #fff;
    --pagebg: linear-gradient(180deg, #7FB5FF, #fff);
    --lighttext: #fff;
    --darktext: #000;
    --cardborder: #ccc;
}

body {
    background: var(--pagebg) no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background: var(--headerbg);
    color: var(--lighttext);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 3;
}

main {
    margin: 150px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
}

.card {
    border: 1px solid var(--cardborder);
    padding: 1.5rem;
    width: 25%;
    margin: 1rem;
    box-shadow: 5px 7px var(--headerbg);
    border-radius: 20px;
    background: var(--cardbg);
}

.card h2 {
    margin-top: 0;
    background: var(--headerbg);
    color: var(--lighttext);
    text-align: center;
    padding:1rem;
    border-radius: 2rem;
}

.card:hover {
    transform:  rotate(360deg);
    transition: transform 0.3s;
}

pre {
    border: 1px solid var(--cardborder);
    border-radius: 5px;
    padding: 10px;
    user-select: all;
    overflow: scroll;
}

.code-indent {
    display:inline-block;
    margin-left: 2rem;
}

footer {
    color: var(--darktext);
    height: 2rem;
    padding: 1rem;
    text-align: center;
}


@media screen and (max-width: 991px) {
    main{
        width: 100%;
    }
    .card {
      width: 30%;
    }
  }


@media screen and (max-width: 767px) {
    main{
        width: 100%;
    }
    .card {
      width: 100%;
    }
  }